.popup-wrapper {
    min-width: 50rem;
    padding: 2rem 3rem;
}


#redirect-configs-list {
    max-height: 20rem;
    overflow-y: auto;
}

#message-container {
    min-height: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#message-container.show {
    opacity: 1;
}